- if results.empty?
  %span= t('.no_results')
- else
  %span
    = t('.total_results')
    %b= results.total_entries
  %br
  %br
  %table{ border: 1 }
    %thead
      %td
        Query
      %td
        Icon
      %td
        value
    %tbody
      - results.each do |result|
        %tr
          %td= result.query
          %td= image_tag result.icon_url
          %td= result.value
  = will_paginate results, renderer: WillPaginateLinkRenderer
